<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{url_for('static', filename='main.js')}}" defer></script>
    <script src="{{url_for('static', filename='main.js')}}" defer></script>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <title>Pl Predictors</title>
</head>
<body>
<!-- <img id="cds-logo" src = "{{url_for('static', filename='images/cds-logo.png')}}"> -->
<h1>LessLang <img id="cds-logo" src = "{{url_for('static', filename='images/cds-logo.png')}}"></h1>

<textarea class = "card" id="pl-textarea" oninput="predictlang()"></textarea>

<p> Naive Bayes Prediction: <div class = "predict-lang" id =predict-lang-nb-model></div></p>
<p> Logistic Regression Prediction: <div class = "predict-lang" id =predict-lang-logreg-model></div></p>

</body>


</html>